<footer class="bg-dark text-center home-footer">
    <a href="#" id="go-up" class="btn btn-primary  position-fixed fa fa-caret-up text-30 " style="right: 20px;"></a>
    <div class="row container justify-content-center py-4 mx-auto ">
        <div class="col-md-5 ">
            <h2 class="h1">About</h2>
            <p class="text-20">Yowa is a Singer and song writer, single-handedly redefining the Nigerian music scene with her Afro RnB sound. Yowa brings an urban sound that is undeniably unique, embodying a fusion of afrobeats and RnB genres.</p>
        </div>
        <div class="col-md-5">
            <h2 class="h1">Socials</h2>
            <div class="d-flex justify-content-center">
                <a href="https://www.facebook.com/yowamusic" class="nav-link text-40">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="https://www.instagram.com/yowa_music/" class="nav-link text-40">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://twitter.com/iamyowa" class="nav-link text-40">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
    <div class=" text-center ">
        <p class="text-18 mb-1"> &copy; 2021, all rights reserved.</p>
        <p class="mb-0 pb-2"> Built by <a class="text-decoration-none  text-pink" href="mailto:remilekunelijah21997">Remilekun Elijah</a>
        </p>
    </div>

</footer>