<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0d6efd">
    <!-- Bootstrap -->

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

    <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet" type="text/css">

    <link rel='stylesheet' href='/stylesheets/lib.css' />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>
        Yowa |
        <%- msg %>
    </title>
    <style>
        form .requiredX {
            position: relative;
            top: 5px;
        }
    </style>
</head>

<body>
    <div class="contact-bg-img pb-100">
        <header class="">
            <!-- Navbar start -->
            <nav class="navbar navbar-expand-md navbar-light">
                <div class="container ps-lg-5 ">
                    <a class="text-35 navbar-brand text-primary" href="/">
                       Yowa Music
                    </a>
                    <button class="navbar-toggler ml-20" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                    <div class="collapse justify-content-end navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav ">
                            <li class="nav-item text-20">
                                <a class="nav-link" href="/">Home</a>
                            </li>
                            <li class="nav-item text-20">
                                <a class="nav-link " aria-current="page" href="/songs">Songs</a>
                            </li>
                            <li class="nav-item text-20">
                                <a class="nav-link" href="/gallery">Gallery</a>
                            </li>
                            <li class="nav-item text-20 ms-md-5 ">
                                <a class="nav-link active" href="/contact"><input type="button" value="Contact Me" class="btn btn-primary shadow"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- Navbar End -->
        </header>
        <div class="container text-center my-auto caption">
            <h1 class="fas fa-address-card text-center">
                <%= msg %>
            </h1>
        </div>
    </div>

    <div class="container pt-100">
        <form class="container mx-auto w-75" method="POST" action="/sent">
            <div class="form-group">
                <label for="name" class="text-20">Full Name<span class="requiredX text-danger">*</span></label>
                <input type="name" name="name" class="form-control" id="name" aria-describedby="emailHelp" placeholder="Enter your name" required>

            </div>

            <div class="form-group">
                <label for="email" class="text-20 mt-4">Email address<span class="requiredX text-danger">*</span></label>
                <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter your email" required>
                <small id="emailHelp" class="form-text text-muted text-16">I'll never share your email with anyone else.</small>
            </div>
            <div class="form-group mt-4">
                <label for="msg" class="text-20">Message<span class="requiredX text-danger">*</span></label>
                <textarea rows="5" type="text" name="message" class="form-control" id="msg" placeholder="Enter your message..." required></textarea>
            </div>

            <button type="submit" class="btn mt-4 btn-primary w-sm-100-lib">Submit</button>
        </form>
    </div>
    <!-- Footer -->
    <footer class="bg-dark text-center">
        <div class="row container justify-content-center py-4 mx-auto">
            <div class="col-md-5">
                <h2 class="h1">About</h2>
                <p class="text-20">Yowa is a Singer and song writer, single-handedly redefining the Nigerian music scene with her Afro RnB sound. Yowa brings an urban sound that is undeniably unique, embodying a fusion of afrobeats and RnB genres.</p>
            </div>
            <div class="col-md-5">
                <h2 class="h1">Socials</h2>
                <div class="d-flex justify-content-center">
                    <a href="https://www.facebook.com/yowamusic" class="nav-link text-40">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="https://www.instagram.com/yowa_music/" class="nav-link text-40">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="https://twitter.com/iamyowa" class="nav-link text-40">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class=" text-center ">
            <p class="text-18 mb-1"> &copy; 2021, all rights reserved.</p>
            <p class="mb-0 pb-2"> Built by <a class="text-decoration-none  text-pink" href="mailto:remilekunelijah21997">Remilekun Elijah</a>
            </p>
        </div>

    </footer>
    <script src="javascripts/app.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script>
        let f = document.querySelector('form');
        f.message.addEventListener("keypress", e => {
            e.key === "Enter" && f.name.value != '' && f.email.value != '' && f.message.value.trim() != '' ? f.submit() : console.log(e.key)
        })
    </script>
</body>

</html>