<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page not found</title>
    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/lib.css" />

</head>

<body>
    <!-- Navbar start-->
    <header>
        <%- include('../template/nav')%>
    </header>

    <h1 style="margin-top:7rem; text-align: center;"> <strong>4<span style="color: red">0</span>4</strong> Page not found</h1>
    <h2 class="text-center mt-5 text-30">Go back <a href="/" class="btn btn-danger py-1 ms-sm-2 " style="font-size: 20px;">home</a></h2>
    <%- include("../template/footer") %>

        <script src="/javascripts/jquery.min.js"></script>
        <script src="/javascripts/bootstrap.min.js"></script>
        <script src="/javascripts/app.js"></script>
</body>

</html>