<!DOCTYPE html>
<html>

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#0d6efd">
    <!-- Bootstrap -->

    <link href="/stylesheets/bootstrap.css" rel="stylesheet" type="text/css">
    <link rel='stylesheet' type="text/css" href='/stylesheets/style.css' />

    <link href="/stylesheets/bootstrap-grid.css" rel="stylesheet" type="text/css">

    <link rel='stylesheet' href='/stylesheets/lib.css' />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous"> -->
    <!-- Font awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
    <title>
        Yowa |
        <%=msg %>
    </title>
</head>

<body style="background: rgba(186, 59, 108, .8);">


    <div class="gallery-bg-img">
        <header class="">
            <!-- Navbar start -->
            <%- include('../template/nav') %>
                <!-- Navbar End -->

        </header>
        <div class="container text-center my-auto caption">
            <h1 class="fas fa-camera text-center">
                <%- msg %>
            </h1>
        </div>
    </div>

    <!-- BODY -->
    <div class="pb-100">

        <div class="container gallery pt-100">

            <div class="row container mx-auto justify-content-between">

                <img src="images/ig.jpeg" alt="" class="mx-sm-auto-lib shadow mb-5 mb-md-0 left img-fluid  col-sm-10 col-lg-3 col-md-5" srcset="">
                <img src="images/protest2.jpeg" alt="" class="mx-sm-auto-lib center shadow righ col-sm-10 col-lg-4 col-md-5" srcset="">

                <img src="images/protest.jpeg" alt="" class="mx-sm-auto-lib shadow right col-sm-10 col-lg-3 col-md-5 mt-5 mt-lg-0" srcset="">

                <div class="mt-100 mt-sm-0-lib"></div>
                <img src="images/studio img 1.jpeg" alt="" class="left mx-sm-auto-lib shadow  col-sm-10 col-lg-3 col-md-5 mt-5 mt-xxl-0" srcset="">

                <img src="images/millenial.jpg" alt="" class=" mx-sm-auto-lib center shadow  col-sm-10 col-lg-4 col-md-5 mt-5 mt-xxl-0" srcset="">

                <img src="images/on-black.jpg" alt="" class="right mx-sm-auto-lib shadow  col-sm-10 col-lg-3 col-md-5 mt-5 mt-xxl-0" srcset="">

                <div class="mt-100 mt-sm-0-lib"></div>
                <img src="images/fella.jpg" alt="" class="mx-sm-auto-lib left shadow  col-sm-10 col-lg-3 col-md-5 mt-5 mt-xxl-0" srcset="">

                <img src="images/brown.jpg" alt="" class="mx-sm-auto-lib center shadow  col-sm-10 col-lg-4 col-md-5 mt-5 mt-xxl-0" srcset="">

                <img src="images/exposed.jpg" alt="" class="right mx-sm-auto-lib shadow  col-sm-10 col-lg-3 col-md-5 mt-5 mt-xxl-0" srcset="">
            </div>
        </div>
    </div>
    <!-- Footer -->
    <%- include('../template/footer') %>
        <script src="javascripts/app.js"></script>
        <script src="javascripts/bootstrap.min.js"></script>

</body>

</html>