@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');

/* pink #E7008A */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Philosopher', sans-serif;
    overflow-x: hidden;
}

.bg-img {
    background-image: url("../images/bg-main.png");
}

.header-img {
    width: 400px;
    height: 300px;
}

.caption {
    font-size: 3rem !important;
}

#bio-img {
    height: 440px;
    border-radius: 5px;
    width: 400px;
}

#short-bio {
    line-height: 1.3;
    height: 300px;
}

header .slantLine {
    width: 130px;
    height: 5px;
    /* vertical-align: bottom; */
    /* bottom: 36%; */
    /* left: 7%; */
    /* background-color: #Ba3b6c; */
    border-radius: 30%;
    transform: rotate3d(1, 1, 1, -0.03turn);
}

video {
    height: 400px !important;
    /* border: 2px solid blue; */
    border-radius: 20px;
}

.video>div {
    /* height: 400px; */
    max-height: 400px;
}

@media only screen and (max-width: 768px) {
    .head-img {
        margin-top: 100px !important;
    }
    .caption {
        font-size: 30px!important;
    }
    .mt-med-10 {
        margin-top: 10px!important;
    }
}

@media only screen and (max-width: 576px) {
    .text-sm-center {
        text-align: center;
    }
    .welcome {
        margin-top: 10px !important;
    }
    .bio {
        margin-top: 10px !important;
    }
    .mt-small-5 {
        margin-top: 5em;
    }
    .caption>span {
        display: inline-flex !important;
        width: 40%;
    }
}